* {
    box-sizing: border-box;
}

#app {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

#number-board {
    width: 750px;
}

#number-board .row {
    display: flex;
}

#number-board .row .col {
    background-color: #78bec5;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    height:50px;
    margin: 3px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: default;
}

.pion-o,
.pion-x {
    padding: 10px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.pion-o {
    background-color: #ecaf4f;
}

.pion-o img,
.pion-x img {
    width: 40px;
    height: 40px;
}

.pion-x {
    background-color: #dc685a;
}

#number-board .row .col.col-x {
    background-color: #dc685a
}

#number-board .row .col.col-o {
    background-color: #ecaf4f
}

#number-board .row .col img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

#number-board .row .col.unfocus {
    background-color: #aaa;
    color: #333333;
    cursor: default;
}

#number-board .row .col.focus {
    background-color: aqua;
    cursor: pointer;
}

#number-board .row .col.focus:hover {
    background-color: #49c7c7;
}

#number-board .row .col.focus:active {
    background-color: #23a5a5;
}

#tools-board {
    width: 250px;
}

#tools-board .operator-pad {
    display: grid;
    grid-template-columns: auto auto;
}

#tools-board .last-number {
    text-align: center;
    border: 3px solid #bbbbbb;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: yellowgreen;
    border-radius: 5px;
}

#tools-board .operator-pad > * {
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color: #78bec5;
}

#tools-board .operator-pad > *:hover {
    background-color: #57a6ad;
}

#tools-board .operator-pad > *:active {
    background-color: #3b8991;
}

#tools-board .operator-pad *.focus {
    background-color: #3b8991;
}

#tools-board .operator-pad *.unfocus {
    background-color: #dddddd;
    color: #555555;
    cursor: default;
}

#tools-board .number-pad {
    display: grid;
    grid-template-columns: auto auto auto;
}

#tools-board .number-pad * {
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: yellowgreen;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

#tools-board .number-pad *:hover {
    background: #8abb25;
}

#tools-board .number-pad *:active {
    background: #68940d;
}

#tools-board .number-pad *.unfocus {
    background: #dddddd;
    color: #333333;
    cursor: default;
}

#menang-panel {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    top: 0;
    left: 0;
}


